.proforma-form .row {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 5px;
  background-color: #0dcaf026;
}

.client-output {
  margin-top: 20px;
  padding: 10px;
  min-height: 41px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  word-break: break-word;
}

.price-box{
  border: 1px solid #dee2e6;
  padding: 0 10px;
  background: #fff;
  border-radius: 7px;
}

.price{
  color: #f30079;
  font-weight: bold;
}